<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="地址本"
            id="com.plugindev.addressbook">
      </category>
      <view
            name="地址本视图"
            icon="icons/sample.gif"
            category="com.plugindev.addressbook"
            class="com.plugindev.addressbook.views.AddressView"
            id="com.plugindev.addressbook.views.AddressView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
